body {
  background-color: rgb(235, 180, 107);
}
h1 {
  font-size: 5rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
.baloon {
  width: 100px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all 1s ease-out;
  box-shadow: 5px 10px rgb(240, 240, 240);
}
